body {
	background-color: #333333;
	color: #333333;
}

@font-face {
font-family: mine;
src: url(mine.ttf);
}

.main_title {
	position: fixed;
	color: white;
	font-family: mine;
	font-size: 89px;
	width: 100%;
	height: 95px;
	top: 50px;
	text-align: center;
	z-index: -1;
}

.wrapper {
	width: 100%
}

.content {
	position: relative;
	background-color: white;
	width: 610px;
	height: 1000px;
	margin: 0 auto;
	top: 200px;
	padding: 50px;
}

.title {
	font-family: Helvetica;
	font-weight: bold;
	width: 100%;
	text-align: center;
	font-size: 55px;
	margin: 0 auto;
}

.par {
	position: relative;
	font-family: helvetica;
	top: 25px;
	font-size: 21px;
}